<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<div th:replace="menu :: menu"></div> 
    <title>Show a Card</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container">
	      <h4>
		     <p   th:text="  'Your Weapon is ' + ${Card.name} +  ' its description is ' + ${Card.description} + ' it has ' + ${Card.attack} +
		      ' Attack and ' + ${Card.duration} + ' duration and cost ' + ${Card.cost} + ' mana'
		      "> </p> 
	      </h4>
	</div>
</body>
</html> 